{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
  <meta charset="UTF-8" />
  <title>Media Journal</title>
  <link rel="stylesheet" href="{% static 'core/css/header.css' %}" />
  <link rel="stylesheet" href="{% static 'core/css/search.css' %}" />
  <link rel="icon" href="/static/core/icons/favicon.ico" type="image/x-icon">
</head>
{% endblock %}

<body data-page-type="{{ page_type }}">
  {% include "core/header.html" %}

  <main>
    {% block content %}{% endblock %}
  </main>

<!-- Search overlay container -->
<div id="search-overlay" class="hidden">
  <div id="search-results-panel" tabindex="0">
    <div class="overlay-search-bar">
      <div class="overlay-search-input-wrapper">
        {% with page_type|lower as page %}
          {% if page == "tv" %}
            <input type="text" id="overlay-search-input" placeholder="Search for a TV show.." autocomplete="off">
          {% else %}
            {% with page|first as first_letter %}
              {% if first_letter in "aeiou" %}
                {% with article="an" %}
                  <input type="text" id="overlay-search-input"
                         placeholder="Search for {{ article }} {{ page }}.." autocomplete="off">
                {% endwith %}
              {% else %}
                {% with article="a" %}
                  <input type="text" id="overlay-search-input"
                         placeholder="Search for {{ article }} {{ page }}.." autocomplete="off">
                {% endwith %}
              {% endif %}
            {% endwith %}
          {% endif %}
        {% endwith %}

        <label class="live-search-label">
          <input type="checkbox" id="live-search-toggle"> Live Search
        </label>
      </div>
    </div>

    <div id="search-results"></div>
  </div>
</div>


{% block script %}
  <script src="{% static 'core/js/base.js' %}"></script>
{% endblock %}
</body>
</html>
