{% load static %}
<header>
  <div class="navbar container">
    <div class="logo">Media Journal</div>

    <ul class="nav-center">
      <li><a href="/">Home</a></li>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/tvshows">TV Shows</a></li>
      <li><a href="/anime">Anime</a></li>

      <li class="dropdown">
        <button class="dropbtn">More Media ⮟</button>
        <ul class="dropdown-content">
          <li><a href="/games">Games</a></li>
          <li><a href="/books">Books</a></li>
          <li><a href="/manga">Manga</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav-right">
      <li class="search-container">
        {% if page_type %}
        <button id="search-open-btn" aria-label="Open Search" class="search-icon-button">
          <img src="{% static 'core/icons/grey_search_icon_3.svg' %}" alt="Search" width="24" height="24">
        </button>
        {% endif %}
      </li>
      <li><a href="/settings">Settings</a></li>
    </ul>

</header>